{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row align-items-center justify-content-center mt-3 mb-5">
    <div class="card p-3 shadow col-5 col-sm-12 rounded-3">
      <div class="row">
        <div class="col-9 col-sm-8 float-left">
            <span class="fs-4 fw-bold">API Documentation</span><br>
            <span class="fs-6">for connect your app with todogram</span>
        </div>
        <div class="col-3 col-sm-4" style="padding-left: 25px;">
            <img src="{% static 'images/api.png' %}" height="100vh"  class="rounded-circle" alt="" loading="lazy"/>
        </div>
      </div>
      <hr>

      <!-- task list -->
      <table class="table">
        <thead>
          <tr>
            <span class="fs-4 fw-bold">Task list</span>
            <th scope="col">HTTP Method</th>
            <th scope="col">GET</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">127.0.0.1:8000/api/task/</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col" style="border-bottom: none;">Header</th>
            <th scope="col" style="border-bottom: none;">Authorization Token</th>
          </tr>
        </thead>
      </table>
      
      <hr>

      <!-- Submit new task -->
      <table class="table">
        <thead>
          <tr>
            <span class="fs-4 fw-bold">Submit new task</span>
            <th scope="col">HTTP Method</th>
            <th scope="col">POST</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">127.0.0.1:8000/api/task/</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Header</th>
            <th scope="col">Authorization Token</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">task title ( string )</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">description</th>
            <th scope="col">describe your task ( string )</th>
          </tr>
        </thead>
      </table>

      <!-- Update task ( complete update ) -->
      <table class="table">
        <thead>
          <tr>
            <span class="fs-4 fw-bold">Update task ( complete update )</span>
            <span class="fs-6">you must send all parameters for this api</span>
            <th scope="col">HTTP Method</th>
            <th scope="col">PUT</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">127.0.0.1:8000/api/task/{ lookup(id of task) }/</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Header</th>
            <th scope="col">Authorization Token</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">task title ( string )</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">description</th>
            <th scope="col">describe your task ( string )</th>
          </tr>
        </thead>
      </table>

      <!-- partial update task-->
      <table class="table">
        <thead>
          <tr>
            <span class="fs-4 fw-bold">Partial update task</span>
            <span class="fs-6">you can send any of parameter that you want</span>
            <th scope="col">HTTP Method</th>
            <th scope="col">PATCH</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">127.0.0.1:8000/api/task/{ lookup(id of task) }/</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Header</th>
            <th scope="col">Authorization Token</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">task title ( string )</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">description</th>
            <th scope="col">describe your task ( string )</th>
          </tr>
        </thead>
      </table>


      <!-- delete task-->
      <table class="table">
        <thead>
          <tr>
            <span class="fs-4 fw-bold">Delete task</span>
            <th scope="col">HTTP Method</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">127.0.0.1:8000/api/task/{ lookup(id of task) }/</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Header</th>
            <th scope="col">Authorization Token</th>
          </tr>
        </thead>
      </table>


    </div>
</div>

{% endblock %}