{% extends 'base.html' %}

{% block title %}{{block.super}} | Trash{% endblock title %}

{% block content %}
<div class="row mt-3">
  <div class="col-3 col-s-12 menu">
    <ul>
        <li>
          <a href="{% url 'todo:create_task' %}" class="btn-inactive">
            <i class="fas fa-edit"></i> Create New Task
          </a>
        </li>
        <li>
          <a href="{% url 'todo:archive_tasks' %}" class="btn-inactive">
            <i class="fas fa-archive"></i> Archive
          </a>
        </li>
        <li><a href="{% url 'todo:trash_tasks' %}" class="btn-active">
          <i class="fas fa-trash-alt"></i> Trash
        </a>
        </li>
    </ul>
</div>
  <div class="col-9 col-s-12">
    <div class="container-fluid">
      {% include 'inc/messages.html' %}
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for item in trash %}
      <div class="col">
        <div class="card shadow rounded-3">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">
                  {% with desc=item.description|linebreaks %}
                  {{ desc | truncatechars:40}}
                  {% endwith %}
                </p>
            </div>
            <div class="card-footer">
                <a href="{% url 'todo:restore_task' item.id %}" class="btn btn-warning btn-sm">
                  <i class="fas fa-trash-restore"></i> Restore
                </a>
                <a href="{% url 'todo:complete_remove' item.id %}" 
                    class="btn btn-danger btn-sm" 
                    onclick="return confirm('Are you to delete this task?');">
                  <i class="fas fa-times-circle"></i> Delete
                </a>
            </div>
        </div>  
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}