<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Todogram</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <div class="nav-item">
            <a class="nav-link" href="/admin">admin</a>
          </div>
        </li>
      </ul>
    </div>
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy"/> -->
          {% if request.user.full_name %}
          <i class="fas fa-user" style="margin-right: 5px;"></i> {{request.user.full_name}}
          {% else %}
          <i class="fas fa-user" style="margin-right: 5px;"></i> {{request.user}}
          {% endif %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'accounts:settings' %}">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'core:api_doc' %}">API Docs</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a></li>
        </ul>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user" style="margin-right: 5px;"></i> Join us
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Sign in</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Sign up</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>